.toc-content {
  display: none;
}
.navigator {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0 auto;
  /* text-align: center; */
}
.list_service {
  display: table-cell;
  line-height: 24px;
  padding: 0 15px 0 15px;
}
#toc-toggle {
  cursor: pointer;
  color: #2962ff;
}
#toc-toggle:hover {
  text-decoration: underline;
}
dd {
  margin: 0 auto;
}
button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}